*,
*::before,
*::after {
    box-sizing: border-box;

}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

body {
    position: relative;
}

.header {
    padding-top: 40px;
    position: absolute;
    width: 100%;
    background: rgba(94, 93, 88, 0.60);

}

.header_contant {
    display: flex;
}

.logo_span {
    padding-right: 20px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
}

.logo_svg {
    position: relative;
    margin-bottom: 27px;
}

.logo {
    position: absolute;
    top: 51px;
    left: 386px;
    color: #FFFF;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;

}

.text_color {
    color: #18CFAB;
}

.nav_menu {
    display: flex;
    width: 614.8px;
    height: 24px;
    justify-content: space-between;
    margin-left: 445px;
    margin-top: 14px;
}

.nav_menu li {
    position: relative;
}

.nav_menu li :hover {
    color: #18CFAB;
}

.nav_menu li:hover::after {
    content: "";
    display: block;
    border-bottom: 2px solid #18CFAB;
    width: 100%;
    color: #18CFAB;
    position: absolute;
    bottom: -242%;
}

.header_link_text {
    color: rgba(255, 255, 255, 0.60);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.header_search {
    width: 21px;
    height: 20px;
}

.main {
    background-image: url(../img/back_foto.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 380px;
    padding-bottom: 259px;
}

.main_contant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.up_title {
    color: #ffff;
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    margin-bottom: 22px;
    /*  */
}

.title {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 78px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.subtitle {
    color: #D4D4D4;
    text-align: center;
    font-family: Montserrat;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* margin-top: 22px; */
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    column-gap: 26px;
}

.main_button {
    width: 169px;
    height: 63px;
    flex-shrink: 0;
    background-color: #18CFAB;
    border: none;
    border-radius: 5%;
    color: #FFF;
    border-top: 5px solid white;
    text-transform: uppercase;
}

.second_btn {
    background-color: #00CBF6;
}

.options {
    padding-top: 2px;
}

.option_size {
    display: flex;
}

.option_card {
    background-color: #18CFAB;
    width: 25%;
    height: 377px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: #fff;
    flex-direction: column;
    gap: 60px;
}

.card_black {
    background-color: #1C2A33;
    color: #18CFAB;
}

.Our_Services {
    padding-top: 83px;
}

.Services_items:hover {
    border: 1px solid #18CFAB;
}

.psevdo_lines {
    position: relative;
}

.psevdo_lines::after {
    content: "";
    display: block;
    border-bottom: 2px solid #18CFAB;
    position: absolute;
    top: 57px;
    width: 91px;
    left: 46%;
}

.psevdo_lines::before {
    content: "";
    display: block;
    border-bottom: 2px solid #18CFAB;
    position: absolute;
    width: 91px;
    top: 61px;
    left: 47%;
}

.title_sections {
    color: #4E4E4E;
    text-align: center;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 99px;
}

.Services_menu {
    display: flex;
    margin-bottom: 23px;

}

.Services_items {
    width: 195px;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F2F2F2;
}

.Services_photo {
    width: 192px;
    height: 140px;
}

.img_text {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 91px;
}

.img_text_none {
    display: none;
}

.img_text p {
    width: 952px;
    color: #777;
    font-family: Montserrat;
    font-size: 13.645px;
    font-style: normal;
    font-weight: 300;
    line-height: 24.366px;
}

.active_services {
    background-color: #18CFAB;
    position: relative;
}

.active_services::after {
    content: "";
    display: block;
    position: absolute;
    background-image: url(../img/elem_services_after2.png);
    width: 24px;
    height: 12px;
    top: 75px;
}

.just_buy {
    background-image: url(../img/just_buy.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 126px;
    padding-bottom: 127px;
}

.just_buy_title {
    color: #18CFAB;
    text-align: center;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40.455px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.just_buy_subtitle {
    color: #D8D8D8;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 67px;
}

.center_colum {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Amazing {
    padding-top: 96px;
    background: #E9EDEF;
    padding-bottom: 107px;
}

.Amazing_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 71px;
}

.Amazing_items {
    color: #717171;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 42.042px;
    border: 1px solid #DADADA;
    padding-left: 15px;
    padding-right: 15px;
}

.libery_foto {
    display: grid;
    grid-template-columns: 283px 283px 283px 283px;
    grid-template-rows: 206px 206px 206px;

}

.foto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

}

.text_libery {
    color: #18CFAB;
    font-family: Montserrat;
    font-size: 14.177px;
    font-style: normal;
    font-weight: 700;
    line-height: 25.185px;
    text-transform: uppercase;
    margin-top: 22px;
}

.text_libery_second {
    color: #8A8A8A;
    font-family: Montserrat;
    font-size: 12.152px;
    font-style: normal;
    font-weight: 300;
    line-height: 25.185px;
}

.button_foto {
    border: none;
    margin-top: 70px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    text-transform: uppercase;

}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cross {
    margin-right: 15px;
}

.foto1 {
    border-top: 2px solid #18CFAB;
}

.news_cards {
    padding-top: 82px;
    padding-bottom: 130px;
}

.center_card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 45px;
    column-gap: 35px;
}

.card_link {
    width: 263px;
    position: relative;

}

.card_link:hover .card_date {
    background-color: #18CFAB;
}

.card_link:hover .card_first_text {
    color: #18CFAB;
}

.card_first_text {
    color: #717171;
    text-align: center;
    font-family: Montserrat;
    font-size: 17.988px;
    font-style: normal;
    font-weight: 700;
    line-height: 38.942px;
    text-align: start;
    padding-left: 10px;
}

.card_second_text {
    color: #777;
    text-align: center;
    font-family: Montserrat;
    font-size: 13.991px;
    font-style: normal;
    font-weight: 300;
    line-height: 38.942px;
    text-align: start;
    padding-left: 13px;
}

.card_date {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    width: 70px;
    height: 68px;
    background-color: #203E38;
    padding-top: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

.about_theHam {
    background-image: url(../img/last_section.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 98px;
    padding-bottom: 295px;
    position: relative;
}

.about_theHam_title {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 111px;
    transition: 1s;
}

.about_theHam_items img {
    width: 60px;
    height: 59px;

}

.about_theHam_items {
    transition: .5s;
}
.clicer {

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31px;
    height: 31px;
    color: #BBBBBB;
    border: 1px solid #BBBBBB;
    top: 15px;
    right: 321px;
}

.clicer_left {

    left: 321px;
}

.clicer_left:hover {
    background-color: #18CFAB;
    color: #FFFF;
}

.clicer:hover {
    background-color: #18CFAB;
    color: #FFFF;
}

.about_theHam_title_subtitle {
    color: #BBB;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    margin-top: 38px;
}

.name {
    color: #18CFAB;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
    margin-top: 37px;
}

.profession {
    color: #BBB;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 27px;
}

.couple_photo {
    position: relative;
    margin-top: 38px;
}

.Photo_worker {
    position: relative;
    z-index: 1;
}

.back_photo_worker {
    position: absolute;
    left: -10px;
    top: -11px;
}

.about_theHam_menu {
    position: relative;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 35px;
}

.hidden {
    overflow: hidden;
    width: 1160px;
    height: 420px;
    display: block;
}

.about_theHam_contant {
    margin-bottom: 90px;
    width: 1160px;
    transition: .4s;
}

.Photo_worker {
    width: 143px;
    height: 142px;
    object-fit: fill;
}

.d_none {
    position: absolute;
    z-index: -2;
    opacity: 0;
    transition: 1s;
}

.f_none {
    display: none;
}

.anim {
    margin-top: 70px;
    width: 100px;
    height: 100px;
    border-top: 10px solid #747171;
    animation: animation 3.1s linear;
    border-radius: 50%;
}

@keyframes animation {
    0% {
        transform: translate(-20%, 50%) rotate(0deg);
    }

    100% {
        transform: translate(-20%, 50%) rotate(480deg);
    }
}

.border {
    border: 1px solid #18CFAB;
}

.up {
    transform: translate(0%, -20%);
    transition: .5s;
}